html{
	/*Need HTML height so the gradient can cover thw whole page*/
	height: 100%;
	/*Pixels to rem is 0.0625 to count on calculator*/
}

body{
	background-image: linear-gradient(#FC5E55, #FA4083);
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1.125rem;
}

.container{
	width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

h1{
	font-size: 3.25rem;
	font-family: 'Playfair Display', serif;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

main{
	min-height: 300px;
	display: flex;
	align-items: center;
}

.herobox1{
	flex: 2;
}

.herobox2{
	flex: 1;
}

.cards{
	background-color: rgb(47, 198, 33);
	min-height: 300px;
	display: flex;
	justify-content: space-between;
}

.card1{
	background-color: rgb(227, 58, 137);
	min-height: 300px;
	width: 30%;
}

.card2{
	background-color: rgb(228, 124, 173);
	min-height: 300px;
	width: 30%;
}

.card3{
	background-color: rgb(125, 22, 70);
	min-height: 300px;
	width: 30%;
}