html{
	background-image: linear-gradient(#FC5E55, #FA4083);
}

body{
	background-image: url(../img/image-lion-background.png);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	color: white;
	/*Pixels to rem is 0.0625 to count on calculator*/
	font-size: 1.125rem;
}

.container{
	width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid white;
}

.navbutton{
	color: white;
	font-family: 'Playfair Display', serif;
	padding: 11px 25px;
	border-radius: 5px;
	border: 2px solid white;
	display: inline-block;
	position: relative;
}

.dropdown{
	display: none;
	position: absolute;
	text-align: center;
	width: 150px;
	z-index: 1;
	padding-top: 20px;
}

.navbutton:hover .dropdown{
	display: block;
}

.dropdown .mybutton{
	margin: 0px;
	border-radius: 0px;
}

main{
	min-height: 300px;
	display: flex;
	align-items: center;
}

.contactMain{
	min-height: 300px;
	padding-top: 30px;
}

.herobox1{
	flex: 2;
	padding-right: 100px;
}

.herobox2{
	flex: 1;
}

.cards{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.card1, .card2, .card3{
	box-sizing: border-box;
	padding: 30px 30px 20px 30px;
}

.card1{
	background-image: url(../img/image-background-card1.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2{
	background-image: url(../img/image-background-card2.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3{
	background-image: url(../img/image-background-card3.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

h1{
	font-size: 3.25rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

h2{
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}

p{
	line-height: 1.75rem;
	margin-bottom: 0.5rem;
}

a{
	color: white;
	text-decoration: none;
}

.cards i{
	font-size: 6.25rem;
}

.cards p{
	font-size: 0.85rem;
	line-height: 1.2rem;
	margin-top: 10px;
}

.mybutton{
	background-color: white;
	color: #FA4083;
	font-family: 'Playfair Display', serif;
	padding: 11px 25px;
	/*
		Block: New Line;
		Inline: Inline with the <p>;
		Inline-block: Mixture between Inline and Block;
	*/
	display: inline-block;
	margin-top: 10px;
	border-radius: 5px;
	/*There is Text Shadow: text-shadow and Box Shadow: box-shadow*/
	/*X, Y, Fuzzyness, Color*/
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.mybutton:hover{
	background-color: rgb(29, 213, 103);
	transition-duration: 1s;
}

.testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
}

.tbox{
	width: 47%;
	padding: 50px;
	border: 1px solid white;
	margin-top: 50px;
	box-sizing: border-box;
}

.tbox :last-child{
	font-size: 0.8rem;
	padding-left: 30px;
}

.inputWrapper{
	margin-bottom: 30px;
}

input[type=text], input[type=email], textarea {
	padding: 12px 20px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 0.85rem;
	box-sizing: border-box;
}

.newline{
	display: block;
	margin-bottom: 10px;
}

.margin-right{
	margin-right: 20px;
}

input[type=radio] {
	margin-right: 10px;
}

form{
	margin: 40px 0px;
}